* {
    box-sizing: border-box;
}

.box {
  width: 100px;
  height: 100px;
  background: #adff2f;
  margin: 10px;
  padding: 20px;
  border: black, dashed ;
  border-radius: 50%;
}

.second-box {
  width: 100px;
  height: 100px;
  background: #758ded;
  margin: 10px;
  padding: 20px;
  border: darkred, solid;
}
