* {
  box-sizing: border-box;
}

.image-container {
  height: 100svh;
  position: relative;
  background-size: cover;
  background-position: center;
}

h2 {
  color: rgb(241, 236, 244);
  font-size: 2rem;
  font-family: sans-serif;
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 100px;
}

.vic-falls {
  background-image: url(/vic-falls.png);
}

.map {
  background-image: url(/map.png);
}
